.categories {
    
    ul {
        display: flex;
        list-style: none;
        gap: 9px;
        
        
        li {
            padding: 14px 30px;
            background-color: #F9F9F9;
            border-radius: 30px;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
        }
        
        .active {
            border-radius: 30px;
            background: #282828;
            color: #fff;
        }
    }
}