.header {
    border-bottom: 1px solid #F6F6F6;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1320px;
        margin: 0 auto;

        .headerLogo {
            display: flex;
            align-items: center;

            .logo {
                margin: 0 17px;
            }

            h1 {
                color: #181818;
                font-size: 24px;
                letter-spacing: 0.24px;
                font-weight: 800;
                text-transform: uppercase;
            }

            p {
                color: #7B7B7B;
                font-size: 16px;
            }
        }
    }
}